<app-header [eventsList]="eventsList"></app-header>

<form class="max-w-md mx-auto mt-6 mb-6" (submit)="searchEvents(); $event.preventDefault()">
    <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white"> Search </label>
    <div class="relative">
        <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
            <svg
                class="w-4 h-4 text-gray-500 dark:text-gray-400"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 20 20"
            >
                <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
                />
            </svg>
        </div>
        <input
            type="search"
            id="default-search"
            class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            [placeholder]="'SEARCH.SEARCHPLACEHOLDER' | translate"
            name="searchTerm"
            [(ngModel)]="searchTerm"
        />
    </div>

    <div class="flex justify-end gap-2 mt-2">
        <button
            type="submit"
            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        >
            {{ "SEARCH.SEARCHBUTTON" | translate }}
        </button>
        <button
            type="button"
            class="text-white bg-gray-500 hover:bg-gray-600 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-gray-400 dark:hover:bg-gray-500 dark:focus:ring-gray-600"
            (click)="reset()"
        >
            {{ "SEARCH.RESETBUTTON" | translate }}
        </button>
    </div>
</form>

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 p-4">
    <div
        *ngFor="let event of events"
        class="bg-white rounded-2xl shadow-md overflow-hidden max-w-md mx-auto cursor-pointer"
        [routerLink]="['/event', event.id]"
    >
        <!-- Imagen con aspecto fijo -->
        <div class="aspect-[3/2] overflow-hidden">
            <img [src]="event.image" alt="Imagen del evento" class="w-full h-full object-cover" />
        </div>

        <div class="p-4 space-y-2 text-sm text-gray-800">
            <div class="flex justify-between items-center font-semibold text-base">
                <h3 class="text-lg">{{ event.name }}</h3>
                <span class="text-blue-600 font-bold" *ngIf="event.price !== 0">{{ event.price }}€</span>
                <span class="text-blue-600 font-bold" *ngIf="event.price === 0">Free</span>
            </div>
            <br />
            <div class="grid grid-cols-1 sm:grid-cols-2 gap-2 text-sm text-gray-600">
                <p><span class="font-medium">Ubicación:</span> {{ event.location }}</p>
                <p><span class="font-medium">Fecha:</span> {{ event.date }}</p>
                <p><span class="font-medium">Inicio:</span> {{ event.start_date.slice(0, 5) }}h</p>
                <p><span class="font-medium">Fin:</span> {{ event.end_date.slice(0, 5) }}h</p>
                <p><span class="font-medium">Capacidad:</span> {{ event.capacity }}</p>
                <p><span class="font-medium">Organizador:</span>{{ event.organizer }}</p>
            </div>
        </div>
    </div>
</div>

<!--Aqui utilizo paginación del back en vez de sacar todos los datos y hacer paginacion en front-->
<div class="pagination flex items-center mt-4 justify-center">
    <button
        (click)="getEvents(currentPage - 1)"
        [disabled]="!hasPrevPage"
        class="flex items-center justify-center px-3 mr-5 h-8 text-sm font-medium text-gray-500 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white disabled:opacity-50 disabled:cursor-not-allowed"
    >
        {{ "SEARCH.PREVIUS" | translate }}
    </button>
    <span>{{ "SEARCH.PAGE" | translate }} {{ currentPage }} {{ "SEARCH.OF" | translate }} {{ totalPages }}</span>
    <button
        (click)="getEvents(currentPage + 1)"
        [disabled]="!hasNextPage"
        class="flex items-center justify-center px-3 ml-5 h-8 text-sm font-medium text-gray-500 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white disabled:opacity-50 disabled:cursor-not-allowed"
    >
        {{ "SEARCH.FORWARD" | translate }}
    </button>
</div>
