<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="event.component.scss" />
    </head>
    <body></body>
</html>
<app-header [eventsList]="eventsList"></app-header>
<a
    [routerLink]="['/home']"
    class="text-sm text-gray-500 hover:underline inline-flex items-center ml-auto mr-auto sm:ml-8 lg:ml-20 xl:ml-40 mt-8 px-4 md:px-6"
>
    <span>&larr;</span> Volver atrás
</a>

<div class="containerAll" *ngIf="event">
    <div class="container" *ngIf="event">
        <div class="image">
            <img [src]="event.image" alt="Café y granos" />
        </div>
        <div class="info">
            <div class="price">
                <p>Precio unitario {{ event.price }}€</p>
                <button (click)="addToCart(event.id)">Inscribirse</button>
            </div>
            <div class="organizer">
                <p>Organizado por</p>
                <p>{{ organizerName }}</p>
                <button>Ver perfil del organizador</button>
            </div>
        </div>
    </div>
</div>
<div class="my-8"></div>

<!-- Info del evento -->
<div class="space-y-6 max-w-7xl mx-auto sm:ml-8 mt-8 px-4 md:px-6 lg:ml-16 xl:ml-24 2xl:ml-40" *ngIf="event">
    <div class="space-y-2">
        <h2 class="text-2xl font-bold">{{ event.name }}</h2>
        <div class="flex flex-wrap gap-6 text-gray-600 text-sm items-center">
            <span class="flex items-center gap-1">📅 {{ event.date }}</span>
            <span class="flex items-center gap-1">🕕 {{ event.start_date }}–{{ event.end_date }}</span>
            <span class="flex items-center gap-1">📍{{ event.location }}</span>
            <span class="flex items-center gap-1">👥 {{ event.capacity }}</span>
        </div>
    </div>

    <!-- Descripción -->
    <div>
        <h3 class="text-xl font-semibold mb-2">Descripción</h3>
        <p class="text-gray-700 leading-relaxed">
            {{ event.description }}
        </p>
    </div>
    <div>
        <h3 class="text-xl font-semibold mb-2">Información importante</h3>
        <p class="text-gray-700 leading-relaxed mb-16">
            Es recomendable llegar con 15 minutos de antelación. Recuerda traer tu identificación para la acreditación. El evento
            comenzará puntualmente a la hora indicada.
        </p>
    </div>
</div>
