@import '../../styles/variables';
@import '../../styles/forms.scss';

.container-form {
  margin: auto;
  width: 55%;
  text-align: center;
  background-color: $background-color_orange;
  justify-content: center;
  padding: 20px;
  border-radius: 10px;
}
.terms_conditions {
  margin-top: 20px;
  display: flex;
  text-align: left;
  align-items: center;
  gap: 1.875rem;
  margin-bottom: 20px;
  font-size: 1.3rem;
  input {
    width: 1.25rem;
    height: 1.25rem;
  }
  .conditions_Terms {
    text-decoration: underline;
  }
}
@media (max-width: 550px) {
  .form {
    .select_user {
      label {
        font-size: 1rem;
      }
    }
  }
}
